@model IEnumerable<JewelryStore.Models.JewelryEntity>

@{
    ViewBag.Title = "Bracelets";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="product_area p_100">
    <div class="container">
        <div class="row product_inner_row">
            <div class="col-lg-9">
                <div class="row m0 product_task_bar">
                    <div class="product_task_inner">
                        <div class="float-left">
                            <a class="active" href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                            <span>Showing 1 - 10 of 55 results</span>
                        </div>
                        <div class="float-right">
                            <h4>Sort by :</h4>
                            <select class="short">
                                <option data-display="Default">Default</option>
                                <option value="1">Newest</option>
                                <option value="2">Price</option>
                                <option value="4">Popular</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row product_item_inner">


                    @foreach (var item in Model)
                    {

                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="cake_feature_item">
                                <div class="cake_img">
                                    <img class="resize-image" src="~/img/Item/@Html.DisplayFor(modelItem => item.Picture)" alt="">
                                </div>
                                <div class="cake_text">
                                    <h4>@Html.DisplayFor(modelItem => item.Sellprice)</h4>
                                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                    <a class="pest_btn" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="col-lg-3">
                <div class="product_left_sidebar">
                    <aside class="left_sidebar search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Search Keywords">
                            <div class="input-group-append">
                                <button class="btn" type="button"><i class="icon icon-Search"></i></button>
                            </div>
                        </div>
                    </aside>
                    <aside class="left_sidebar p_catgories_widget">
                        <div class="p_w_title">
                            <h3>Product Categories</h3>
                        </div>
                        <ul class="list_style">
                            <li><a href="@Url.Action("Rings","JewelryStore")">Rings</a></li>
                            <li><a href="@Url.Action("Bracelets","JewelryStore")">Bracelets</a></li>
                            <li><a href="@Url.Action("Necklaces","JewelryStore")">Necklaces</a></li>
                            <li><a href="@Url.Action("Brand","JewelryStore")">Brand</a></li>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>
